<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Student by NPM</title>
    </head>
    <body>
      	<h3 th:text="'ID = ' + ${course.idCourse}">Course ID</h3>
		<h3 th:text="'Nama = ' + ${course.name}">Course Nama</h3>
		<h3 th:text="'SKS = ' + ${course.credits}">Course SKS</h3>
		<h3>Mahasiswa yang mengambil</h3>
		<ul th:each="student,iterationStatus: ${course.students}">
			<li th:text="${student.npm} + '-' + ${student.name}" >
			Nama Mhs
			</li>
		</ul>
    </body>
</html>

